:root{
    --Pattaya: 'Pattaya', sans-serif;
    --Sunflower: 'Sunflower', sans-serif;
    --Poppins: 'Poppins', sans-serif;
    --Suwannaphum: 'Suwannaphum', cursive;
    --Dark-Pink: #B2008A;
    --Very-light-gray: #DBDBDB;
    --Pink: rgb(255, 14, 223);
}

.slider-container{
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slider{
    display: flex;
    width: 300%;
    margin-left: -0%;
}

.slider-section{
    width: 100%;
}

.slider-img{
    display: block;
    width: 100%;
    object-fit: cover;
}

.slider-btn{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: rgba(255,255,255, .7);
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
    font-family: monospace;
    cursor: pointer;
    font-size: 26px;
    margin: 0;
}

.slider-btn:hover{
    background-color: white;
}

.slider-btn--right{
    right: 10px;
}

.slider-btn--left{
    left: 10px;
}

.about-container{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-family: var(--Sunflower);
}

.title{
    color: var(--Pink);
    margin-bottom: 0;
}

.text{
    margin-top: 10px;
}

.tecnologia{
    position: relative;
    display: flex;
    align-items: center;
    height: 390px;
    width: 100%;
    margin-top: 80px;
    overflow: hidden;
    padding-left: 15px;
    font-family: var(--Sunflower);
}

.tecnologia div{
    width: 200px;
}

.title-tecnologia{
    color: var(--Pink);
}

.tecnologia-img{
    position: absolute;
    width: 70%;
    top: 80px;
    left: 200px;
}

.tecnologia:first-child .tecnologia-img{
    width: 90%;
    left: 150px;
    top: 40px;
}

.tecnologia:last-child .tecnologia-img{
    width: 60%;
}